<div class ="card mb-2">
    <div class ="card-header bg-dark text-white">
        <h5><i class="far fa-chart-bar"></i>Estadísticas</h5>
    </div>
    <div class="card-body">
        <p><i class="fas fa-images"></i>Image: {{sidebar.stats.images}}</p>
        <p><i class="fas fa-comments"></i>Commentarios: {{sidebar.stats.Comments}}</p>
        <p><i class="fas fa-eye"></i>Vistas: {{sidebar.stats.views}}</p>
        <p><i class="fas fa-heart"></i>Likes: {{sidebar.stats.likes}}</p>
    </div>
</div>